<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- <h1>hello</h1> -->
    <div class="homepage">
        <div class="header">
          <div>Name of our Site</div>
          <div>
            <input type="text" >
          </div>
        </div>
        <div class="body">
          <form method="post" action="{% url 'convert' %}" enctype="multipart/form-data">
            {% csrf_token %}
              <label>Video File Input : </label><br />
              <input type="file" class="videoinputbox" name="vid"/>
              
              <button type="submit" class="convertbtn" >Convert</button>
          </form>
          <form method="post" action="{% url 'download_view' %}" enctype="multipart/form-data" >
            {% csrf_token %}
              <label>Video URL Input : </label><br />
              <input type="url" class="urlinputbox" name="url"/>
              <button type="submit" class="convertbtn" >Convert</button>
          </form>
          <div class="footer">
          </div>
        </div>
      </div>
</body>
</html>