{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/styles/pagetwo.css' %}" />
    <title>2nd Page</title>
  </head>
  <body>
    <form method="post">
    {% csrf_token %}
    <div class="secondpage">
      <div class="header">
        <div class="sitetitle">Name of our Site</div>
        <div class="headerpart2">
          <a href="{% url 'logout' %}">
            <button class="logoutbtn btnclass">Logout</button>
          </a>
        </div>
      </div>
      <a href="{% url 'allaud' %}"
        ><button class="allAudiosbtn btnclass glow-on-hover">
          All Audios
        </button></a
      >
      <div class="body">
        <h2 class="heading">Your Extracted Audio Is Here</h2>
        <div class="audioplayer">
          <audio id="audio" src={% static audio.audioFile %} controls></audio>
        </div>
        <div class="inputdatadiv">
          <div class="input1">
            <label for="timestamp">Enter the timestamp : </label>
            <br />
            <input
              id="time"
              type="text"
              placeholder="Area for Timestamp"
              value="00:00"
              name="time"
              class="timeinput"
            />
          </div>
          <div class="input2">
            <label for="Comment">Enter the comment to be added : </label><br />
            <input
              type="text"
              class="commentinput"
              name="comment"
              placeholder="Area for Comment"
            />
          </div>
          <br />
        </div>
        <button type="submit" class="addCommentBtn btnclass">
          Add Comment
        </button>
        <div class="endbtns">
          <button type="submit" class="deletebtn btnclass">Delete</button>
          <button type="button" class="downloadbtn btnclass">Download</button>
        </div>
      </div>
    </div>
  </form>
  </body>
  <script>
    // import moment from 'moment'
    const audio = document.getElementById('audio')
    const time = document.getElementById('time')
    var ss,mm
    audio.ontimeupdate = () => {
      var t = audio.currentTime
      ss = Math.floor(t + 0.5)%60
      mm = Math.floor(Math.floor(t +0.5)/60)
      if(ss<=9) ss = '0' + ss
      if(mm<=9) mm = '0' + mm
      time.value = '' + mm + ':' + ss;
    }
  </script>
</html>