<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pagethree.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="thirdpage">
      <div class="header">
        <div class="sitetitle">Name of our Site</div>
        <div class="headerpart2">
          <input
            type="text"
            class="searchbar"
            placeholder="Search for Audios"
          />
        </div>
      </div>
      <button class="allAudiosbtn">All Audios</button>
      <button class="analyticsbtn">Analytics</button>
      <div class="body">
        <h2 class="heading">Your Extracted Audio Is Here</h2>
        <div class="inputdatadiv">
          <div class="input1">
            <label for="timestamp">Enter the timestamp : </label>
            <br />
            <input
              type="time"
              placeholder="Area for Timestamp"
              value="00:00"
              class="timeinput"
            />
          </div>
          <div class="input2">
            <label for="Comment">Enter the comment to be added : </label><br />
            <input
              type="text"
              class="commentinput"
              placeholder="Area for Comment"
            />
          </div>
          <br />
        </div>
        <button type="submit" class="addCommentBtn">Add Comment</button>
        <div class="endbtns">
          <button type="submit" class="savebtn">Save</button>
          <button type="button" class="downloadbtn">Download</button>
        </div>
      </div>
    </div>
  </body>
</html>
