{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/styles/pagetwo.css' %}" />
    <title>2nd Page</title>
  </head>
  <body>
    <div class="secondpage">
      <div class="header">
        <div class="sitetitle">Name of our Site</div>
        <div class="headerpart2">
          <input
            type="text"
            class="searchbar"
            placeholder="Search for Audios"
          />
        </div>
      </div>
      <a href="{% url 'allaud' %}"><button class="allAudiosbtn btnclass glow-on-hover">All Audios</button></a>
      <div class="body">
        <h2 class="heading">Your Extracted Audio Is Here</h2>
        <div class="audioplayer">
          <audio id="audio" src={% static audio.audioFile %} controls></audio>
        </div>
        <div class="inputdatadiv">
          <div class="input1">
            <label for="timestamp">Enter the timestamp : </label>
            <br />
            <input
              id="time"
              type="time"
              placeholder="Area for Timestamp"
              value="00:00"
              class="timeinput"
            />
          </div>
          <div class="input2">
            <label for="Comment">Enter the comment to be added : </label><br />
            <input
              type="text"
              class="commentinput"
              placeholder="Area for Comment"
            />
          </div>
          <br />
        </div>
        <button type="submit" class="addCommentBtn btnclass">Add Comment</button>
        <div class="endbtns">
          <button type="submit" class="savebtn btnclass">Save</button>
          <button type="button" class="downloadbtn btnclass">Download</button>
        </div>
      </div>
    </div>
  </body>
  <script>
    const audio = document.getElementById('audio')
    const time = document.getElementById('time')
    audio.ontimeupdate = () => {

    }
  </script>
</html>
